<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true">
    <Appenders>
        <Appender type="Console" name="console">
            <Layout type="PatternLayout" pattern="%d{yyyy-MM-dd HH:mm:ss} [%p] %c{1}: %m%n"/>
        </Appender>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
